* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards {
  --height: 20rem;

  height: var(--height);
  position: relative;
}

.card {
  width: var(--height);
  height: 10rem;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  color: white;
  font-size: 2rem;
}

.shrink {
  animation: shrink 0.25s ease-in-out;
}

.grow {
  animation: grow 0.25s ease-in-out;
}

@keyframes shrink {
  0% {
    transform: translate(0, -50%) scale(1);
  }
  100% {
    transform: translate(-100%, -50%) scale(0);
  }
}

@keyframes grow {
  0% {
    transform: translateY(-50%) scale(0);
  }
  100% {
    transform: translateY(-50%) scale(1);
  }
}
